In [1]:
# Importando Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Explorando Dados

In [2]:
# Carregando dados
df = pd.read_csv('lol_ranked_games.csv')
df.head()

,gameId,gameDuration,hasWon,frame,goldDiff,expDiff,champLevelDiff,isFirstTower,isFirstBlood,killedFireDrake,...,destroyedBotOuterTurret,lostTopOuterTurret,lostMidOuterTurret,lostBotOuterTurret,kills,deaths,assists,wardsPlaced,wardsDestroyed,wardsLost
0,4546233126,1443000,1,10,-448,-147,-0.2,0,1,0,...,0,0,0,0,4,7,5,21,3,5
1,4546233126,1443000,1,12,-1306,-925,-0.6,0,1,0,...,0,0,0,0,6,11,6,28,4,6
2,4546233126,1443000,1,14,2115,2578,0.4,1,1,0,...,0,0,0,0,10,11,12,35,4,6
3,4546233126,1443000,1,16,1195,2134,0.4,1,1,0,...,0,0,1,0,10,12,12,45,6,10
4,4546233126,1443000,1,18,2931,4382,0.6,1,1,1,...,0,0,1,0,13,13,16,49,7,12

In [3]:
# Verificando Schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242572 entries, 0 to 242571
Data columns (total 59 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   242572 non-null  int64
 1   gameDuration             242572 non-null  int64
 2   hasWon                   242572 non-null  int64
 3   frame                    242572 non-null  int64
 4   goldDiff                 242572 non-null  int64
 5   expDiff                  242572 non-null  int64
 6   champLevelDiff           242572 non-null  float64
 7   isFirstTower             242572 non-null  int64
 8   isFirstBlood             242572 non-null  int64
 9   killedFireDrake          242572 non-null  int64
 10  killedWaterDrake         242572 non-null  int64
 11  killedAirDrake           242572 non-null  int64
 12  killedEarthDrake         242572 non-null  int64
 13  killedElderDrake         242572 non-null  int64
 14  lostFireDrake            242572 non-null  int64
 15  lostWaterDrake           242572 non-null  int64
 16  lostAirDrake             242572 non-null  int64
 17  lostEarthDrake           242572 non-null  int64
 18  lostElderDrake           242572 non-null  int64
 19  killedBaronNashor        242572 non-null  int64
 20  lostBaronNashor          242572 non-null  int64
 21  killedRiftHerald         242572 non-null  int64
 22  lostRiftHerald           242572 non-null  int64
 23  destroyedTopInhibitor    242572 non-null  int64
 24  destroyedMidInhibitor    242572 non-null  int64
 25  destroyedBotInhibitor    242572 non-null  int64
 26  lostTopInhibitor         242572 non-null  int64
 27  lostMidInhibitor         242572 non-null  int64
 28  lostBotInhibitor         242572 non-null  int64
 29  destroyedTopNexusTurret  242572 non-null  int64
 30  destroyedMidNexusTurret  242572 non-null  int64
 31  destroyedBotNexusTurret  242572 non-null  int64
 32  lostTopNexusTurret       242572 non-null  int64
 33  lostMidNexusTurret       242572 non-null  int64
 34  lostBotNexusTurret       242572 non-null  int64
 35  destroyedTopBaseTurret   242572 non-null  int64
 36  destroyedMidBaseTurret   242572 non-null  int64
 37  destroyedBotBaseTurret   242572 non-null  int64
 38  lostTopBaseTurret        242572 non-null  int64
 39  lostMidBaseTurret        242572 non-null  int64
 40  lostBotBaseTurret        242572 non-null  int64
 41  destroyedTopInnerTurret  242572 non-null  int64
 42  destroyedMidInnerTurret  242572 non-null  int64
 43  destroyedBotInnerTurret  242572 non-null  int64
 44  lostTopInnerTurret       242572 non-null  int64
 45  lostMidInnerTurret       242572 non-null  int64
 46  lostBotInnerTurret       242572 non-null  int64
 47  destroyedTopOuterTurret  242572 non-null  int64
 48  destroyedMidOuterTurret  242572 non-null  int64
 49  destroyedBotOuterTurret  242572 non-null  int64
 50  lostTopOuterTurret       242572 non-null  int64
 51  lostMidOuterTurret       242572 non-null  int64
 52  lostBotOuterTurret       242572 non-null  int64
 53  kills                    242572 non-null  int64
 54  deaths                   242572 non-null  int64
 55  assists                  242572 non-null  int64
 56  wardsPlaced              242572 non-null  int64
 57  wardsDestroyed           242572 non-null  int64
 58  wardsLost                242572 non-null  int64
dtypes: float64(1), int64(58)
memory usage: 109.2 MB

In [4]:
# Verificando contagem de valores do gameId
contagem_gameId = df['gameId'].value_counts()
print(contagem_gameId)

4499508593    24
4461394141    24
4361896408    24
4480555768    23
4541995185    22
              ..
4515961806     1
4546575103     1
4534291408     1
4484011933     1
4362358443     1
Name: gameId, Length: 24912, dtype: int64

In [5]:
# Criando campo de KDA, Verificando se o número de mortes é igual a 0 para não criar valores com erro
df['kda'] = np.where(df['deaths'] == 0, (df['kills'] + df['assists']), (df['kills'] + df['assists']) /( df['deaths'] ))

In [6]:
df.head(10)

,gameId,gameDuration,hasWon,frame,goldDiff,expDiff,champLevelDiff,isFirstTower,isFirstBlood,killedFireDrake,...,lostTopOuterTurret,lostMidOuterTurret,lostBotOuterTurret,kills,deaths,assists,wardsPlaced,wardsDestroyed,wardsLost,kda
0,4546233126,1443000,1,10,-448,-147,-0.2,0,1,0,...,0,0,0,4,7,5,21,3,5,1.285714
1,4546233126,1443000,1,12,-1306,-925,-0.6,0,1,0,...,0,0,0,6,11,6,28,4,6,1.090909
2,4546233126,1443000,1,14,2115,2578,0.4,1,1,0,...,0,0,0,10,11,12,35,4,6,2.000000
3,4546233126,1443000,1,16,1195,2134,0.4,1,1,0,...,0,1,0,10,12,12,45,6,10,1.833333
4,4546233126,1443000,1,18,2931,4382,0.6,1,1,1,...,0,1,0,13,13,16,49,7,12,2.230769
5,4546233126,1443000,1,20,6127,7606,0.8,1,1,1,...,0,1,0,20,14,28,63,9,13,3.428571
6,4546233126,1443000,1,22,7428,7842,1.4,1,1,1,...,0,1,0,23,15,33,75,10,13,3.733333
7,4546233126,1443000,1,24,9426,11980,1.8,1,1,2,...,0,1,0,26,15,36,85,11,14,4.133333
8,4438212663,1241000,1,10,898,934,0.0,0,1,0,...,0,0,0,6,6,7,15,4,1,2.166667
9,4438212663,1241000,1,12,1263,1566,0.4,0,1,0,...,0,0,0,7,7,7,20,5,4,2.000000

In [7]:
# Reduzindo número de casas decimais
df['kda']  = df['kda'].round(2)
df.head()

,gameId,gameDuration,hasWon,frame,goldDiff,expDiff,champLevelDiff,isFirstTower,isFirstBlood,killedFireDrake,...,lostTopOuterTurret,lostMidOuterTurret,lostBotOuterTurret,kills,deaths,assists,wardsPlaced,wardsDestroyed,wardsLost,kda
0,4546233126,1443000,1,10,-448,-147,-0.2,0,1,0,...,0,0,0,4,7,5,21,3,5,1.29
1,4546233126,1443000,1,12,-1306,-925,-0.6,0,1,0,...,0,0,0,6,11,6,28,4,6,1.09
2,4546233126,1443000,1,14,2115,2578,0.4,1,1,0,...,0,0,0,10,11,12,35,4,6,2.00
3,4546233126,1443000,1,16,1195,2134,0.4,1,1,0,...,0,1,0,10,12,12,45,6,10,1.83
4,4546233126,1443000,1,18,2931,4382,0.6,1,1,1,...,0,1,0,13,13,16,49,7,12,2.23

In [8]:
# Criando novo DF com dados que serão apenas utilizados
df_final = df[[
    'gameId',
    'hasWon',
    'goldDiff',
    'champLevelDiff',
    'isFirstTower',
    'isFirstBlood',
    'killedElderDrake',
    'killedBaronNashor',
    'kills',
    'deaths',
    'assists',
    'wardsPlaced',
    'wardsDestroyed',
    'wardsLost',
    'kda'
]]

In [9]:
df_final.head()

,gameId,hasWon,goldDiff,champLevelDiff,isFirstTower,isFirstBlood,killedElderDrake,killedBaronNashor,kills,deaths,assists,wardsPlaced,wardsDestroyed,wardsLost,kda
0,4546233126,1,-448,-0.2,0,1,0,0,4,7,5,21,3,5,1.29
1,4546233126,1,-1306,-0.6,0,1,0,0,6,11,6,28,4,6,1.09
2,4546233126,1,2115,0.4,1,1,0,0,10,11,12,35,4,6,2.00
3,4546233126,1,1195,0.4,1,1,0,0,10,12,12,45,6,10,1.83
4,4546233126,1,2931,0.6,1,1,0,0,13,13,16,49,7,12,2.23

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242572 entries, 0 to 242571
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   gameId             242572 non-null  int64
 1   hasWon             242572 non-null  int64
 2   goldDiff           242572 non-null  int64
 3   champLevelDiff     242572 non-null  float64
 4   isFirstTower       242572 non-null  int64
 5   isFirstBlood       242572 non-null  int64
 6   killedElderDrake   242572 non-null  int64
 7   killedBaronNashor  242572 non-null  int64
 8   kills              242572 non-null  int64
 9   deaths             242572 non-null  int64
 10  assists            242572 non-null  int64
 11  wardsPlaced        242572 non-null  int64
 12  wardsDestroyed     242572 non-null  int64
 13  wardsLost          242572 non-null  int64
 14  kda                242572 non-null  float64
dtypes: float64(2), int64(13)
memory usage: 27.8 MB

# Análises Comparativas

In [11]:
# Filtrando o DataFrame para quando o time venceu (hasWon == 1)
vitorias = df_final[df_final['hasWon'] == 1]

# Filtrando o DataFrame para quando o time perdeu (hasWon == 0)
derrotas = df_final[df_final['hasWon'] == 0]

## Calculando Comparativo de KDA

In [12]:
# Calculando a média do KDA para vitórias e derrotas
media_kda_vitorias = vitorias['kda'].mean()
media_kda_derrotas = derrotas['kda'].mean()


# Exibindo os resultados
print("Média do KDA para vitórias:", media_kda_vitorias.round(2))
print("Média do KDA para derrotas:", media_kda_derrotas.round(2))

Média do KDA para vitórias: 3.54
Média do KDA para derrotas: 1.83

## Calculando Comparativo de Wards Colocadas

In [13]:
# Calculando a média de wardsPlaced para vitórias e derrotas
media_wardsPlaced_vitorias = vitorias['wardsPlaced'].mean()
media_wardsPlaced_derrotas = derrotas['wardsPlaced'].mean()

# Exibindo os resultados
print("Média de wardsPlaced para vitórias:", media_wardsPlaced_vitorias.round(2))
print("Média de wardsPlaced para derrotas:", media_wardsPlaced_derrotas.round(2))

Média de wardsPlaced para vitórias: 57.38
Média de wardsPlaced para derrotas: 56.29

## Calculando Comparativo de Wards Destruídas

In [14]:
# Calculando a média de wardsDestroyed para vitórias e derrotas
media_wardsDestroyed_vitorias = vitorias['wardsDestroyed'].mean()
media_wardsDestroyed_derrotas = derrotas['wardsDestroyed'].mean()

# Exibindo os resultados
print("Média de wardsDestroyed para vitórias:", media_wardsDestroyed_vitorias.round(2))
print("Média de wardsDestroyed para derrotas:", media_wardsDestroyed_derrotas.round(2))

Média de wardsDestroyed para vitórias: 10.74
Média de wardsDestroyed para derrotas: 10.23

## Calculando Comparativo de Gold Diff (Diferença de Gold)

In [15]:
# Calculando a média de goldDiff para vitórias e derrotas
media_goldDiff_vitorias = vitorias['goldDiff'].mean()
media_goldDiff_derrotas = derrotas['goldDiff'].mean()

# Exibindo os resultados
print("Média de goldDiff para vitórias:", media_goldDiff_vitorias.round(2))
print("Média de goldDiff para derrotas:", media_goldDiff_derrotas.round(2))

Média de goldDiff para vitórias: 3304.52
Média de goldDiff para derrotas: -3302.61

# Análises Gerais

## Calculando Chance de Vitória através do campo KDA

In [16]:
# Calculando o valor médio do KDA
valor_medio_kda = df_final['kda'].mean()

# Filtrando as partidas que o KDA está acima da média
partidas_kda_maior_media = df_final[df_final['kda'] > valor_medio_kda]

In [17]:
# Contando o número de vitórias e derrotas nas partidas em que o KDA é acima da média
vitorias_kda_maior_media = partidas_kda_maior_media[partidas_kda_maior_media['hasWon'] == 1]
derrotas_kda_maior_media = partidas_kda_maior_media[partidas_kda_maior_media['hasWon'] == 0]

# Calculando a chance de vitória
chance_vitoria_kda_maior_media = len(vitorias_kda_maior_media) / len(partidas_kda_maior_media)

In [18]:
# Exibindo os resultados

print("Valor médio do KDA:", valor_medio_kda.round(2))
print('-----------------')
print("Número de partidas com KDA acima da média:", len(partidas_kda_maior_media))
print('-----------------')
print("Número de vitórias com KDA acima da média:", len(vitorias_kda_maior_media))
print('-----------------')
print("Número de derrotas com KDA acima da média:", len(derrotas_kda_maior_media))
print('-----------------')
print("Chance de vitória com KDA acima da média: {:.2f}".format(chance_vitoria_kda_maior_media))

Valor médio do KDA: 2.68
-----------------
Número de partidas com KDA acima da média: 90113
-----------------
Número de vitórias com KDA acima da média: 72301
-----------------
Número de derrotas com KDA acima da média: 17812
-----------------
Chance de vitória com KDA acima da média: 0.80

## Calculando Chance de Vitória através do campo WARDSPLACED

In [19]:
# Calculando o valor médio de wardsPlaced
valor_medio_wardsPlaced = df_final['wardsPlaced'].mean()

In [20]:
# Filtrando as partidas em que wardsPlaced é acima da média
partidas_wardsPlaced_maior_media = df[df['wardsPlaced'] > valor_medio_wardsPlaced]

In [21]:
# Contando o número de vitórias e derrotas nas partidas em que wardsPlaced é acima da média
vitorias_wardsPlaced_maior_media = partidas_wardsPlaced_maior_media[partidas_wardsPlaced_maior_media['hasWon'] == 1]
derrotas_wardsPlaced_maior_media = partidas_wardsPlaced_maior_media[partidas_wardsPlaced_maior_media['hasWon'] == 0]

# Calculando a chance de vitória
chance_vitoria_wardsPlaced_maior_media = len(vitorias_wardsPlaced_maior_media) / len(partidas_wardsPlaced_maior_media)

In [22]:
# Exibindo valores
print("Valor médio de wardsPlaced:", valor_medio_wardsPlaced.round(2))
print('-----------------')
print("Número de partidas com wardsPlaced maior que a média:", len(partidas_wardsPlaced_maior_media))
print('-----------------')
print("Número de vitórias com wardsPlaced maior que a média:", len(vitorias_wardsPlaced_maior_media))
print('-----------------')
print("Número de derrotas com wardsPlaced maior que a média:", len(derrotas_wardsPlaced_maior_media))
print('-----------------')
print(f"Chance de vitória com wardsPlaced maior que a média: {chance_vitoria_wardsPlaced_maior_media:.2f}")

Valor médio de wardsPlaced: 56.83
-----------------
Número de partidas com wardsPlaced maior que a média: 73541
-----------------
Número de vitórias com wardsPlaced maior que a média: 37069
-----------------
Número de derrotas com wardsPlaced maior que a média: 36472
-----------------
Chance de vitória com wardsPlaced maior que a média: 0.50

## Calculando chance de vitoria através do Gold Diff

In [23]:
# Calculando o valor médio de goldDiff
valor_medio_goldDiff = df_final['goldDiff'].mean()

In [24]:
# Filtrando as partidas em que goldDiff é acima da média
partidas_goldDiff_maior_media = df[df['goldDiff'] > valor_medio_goldDiff]

In [25]:
# Contando o número de vitórias e derrotas nas partidas em que goldDiff é acima da média
vitorias_goldDiff_maior_media = partidas_goldDiff_maior_media[partidas_goldDiff_maior_media['hasWon'] == 1]
derrotas_goldDiff_maior_media = partidas_goldDiff_maior_media[partidas_goldDiff_maior_media['hasWon'] == 0]

In [26]:
# Calculando a chance de vitória
chance_vitoria_goldDiff_maior_media = len(vitorias_goldDiff_maior_media) / len(partidas_goldDiff_maior_media)

# Exibindo Valores
print("Valor médio de goldDiff:", valor_medio_goldDiff.round(2))
print('-----------------')
print("Número de partidas com goldDiff maior que a média:", len(partidas_goldDiff_maior_media))
print('-----------------')
print("Número de vitórias com goldDiff maior que a média:", len(vitorias_goldDiff_maior_media))
print('-----------------')
print("Número de derrotas com goldDiff maior que a média:", len(derrotas_goldDiff_maior_media))
print('-----------------')
print(f"Chance de vitória com goldDiff maior que a média: {chance_vitoria_goldDiff_maior_media:.2f}")

Valor médio de goldDiff: -11.41
-----------------
Número de partidas com goldDiff maior que a média: 122024
-----------------
Número de vitórias com goldDiff maior que a média: 94933
-----------------
Número de derrotas com goldDiff maior que a média: 27091
-----------------
Chance de vitória com goldDiff maior que a média: 0.78

## Calculando chance de vitoria através do ChampLevelDiff

In [27]:
# Calculando o valor médio de champLevelDiff
valor_medio_champLevelDiff = df_final['champLevelDiff'].mean()

# Filtrando as partidas em que champLevelDiff é acima da média
partidas_champLevelDiff_maior_media = df_final[df_final['champLevelDiff'] > valor_medio_champLevelDiff]

# Contando o número de vitórias e derrotas nas partidas em que champLevelDiff é acima da média
vitorias_champLevelDiff_maior_media = partidas_champLevelDiff_maior_media[partidas_champLevelDiff_maior_media['hasWon'] == 1]
derrotas_champLevelDiff_maior_media = partidas_champLevelDiff_maior_media[partidas_champLevelDiff_maior_media['hasWon'] == 0]

# Calculando a chance de vitória
chance_vitoria_champLevelDiff_maior_media = len(vitorias_champLevelDiff_maior_media) / len(partidas_champLevelDiff_maior_media)

# Exibindo Valores
print("Valor médio de champLevelDiff:", valor_medio_champLevelDiff.round(2))
print('-----------------')
print("Número de partidas com champLevelDiff maior que a média:", len(partidas_champLevelDiff_maior_media))
print('-----------------')
print("Número de vitórias com champLevelDiff maior que a média:", len(vitorias_champLevelDiff_maior_media))
print('-----------------')
print("Número de derrotas com champLevelDiff maior que a média:", len(derrotas_champLevelDiff_maior_media))
print('-----------------')
print(f"Chance de vitória com champLevelDiff maior que a média: {chance_vitoria_champLevelDiff_maior_media:.2f}")

Valor médio de champLevelDiff: -0.03
-----------------
Número de partidas com champLevelDiff maior que a média: 131950
-----------------
Número de vitórias com champLevelDiff maior que a média: 97381
-----------------
Número de derrotas com champLevelDiff maior que a média: 34569
-----------------
Chance de vitória com champLevelDiff maior que a média: 0.74

## Calculando chance de vitoria através do isFirstTower

In [28]:
# Filtrando as partidas em que isFirstTower foi derrubada
partidas_firstTower = df[df['isFirstTower'] == 1]

# Contando o número de vitórias e derrotas nas partidas em que isFirstTower foi derrubada
vitorias_firstTower = partidas_firstTower[partidas_firstTower['hasWon'] == 1]
derrotas_firstTower = partidas_firstTower[partidas_firstTower['hasWon'] == 0]

# Calculando a chance de vitória quando isFirstTower foi derrubada
chance_vitoria_firstTower = len(vitorias_firstTower) / len(partidas_firstTower)

print("Número de partidas em que isFirstTower é igual a 1:", len(partidas_firstTower))
print('-----------------')
print("Número de vitórias quando isFirstTower é igual a 1:", len(vitorias_firstTower))
print('-----------------')
print("Número de derrotas quando isFirstTower é igual a 1:", len(derrotas_firstTower))
print('-----------------')
print(f"Chance de vitória quando isFirstTower é igual a 1: {chance_vitoria_firstTower:.2f}")

Número de partidas em que isFirstTower é igual a 1: 149839
-----------------
Número de vitórias quando isFirstTower é igual a 1: 86203
-----------------
Número de derrotas quando isFirstTower é igual a 1: 63636
-----------------
Chance de vitória quando isFirstTower é igual a 1: 0.58

## Calculando chance de vitoria através do isFirstBlood

In [33]:
# Filtrando as partidas em que isFirstBlood foi realizado
partidas_firstBlood = df[df['isFirstBlood'] == 1]

# Contar o número de vitórias e derrotas nas partidas em que isFirstBlood foi realizado
vitorias_firstBlood = partidas_firstBlood[partidas_firstBlood['hasWon'] == 1]
derrotas_firstBlood = partidas_firstBlood[partidas_firstBlood['hasWon'] == 0]

# Calcular a chance de vitória quando isFirstBlood foi realizado
chance_vitoria_firstBlood = len(vitorias_firstBlood) / len(partidas_firstBlood)

# Exibindo Resultados
print("Número de partidas em que isFirstBlood é igual a 1:", len(partidas_firstBlood))
print('-----------------')
print("Número de vitórias quando isFirstBlood é igual a 1:", len(vitorias_firstBlood))
print('-----------------')
print("Número de derrotas quando isFirstBlood é igual a 1:", len(derrotas_firstBlood))
print('-----------------')
print(f"Chance de vitória quando isFirstBlood é igual a 1: {chance_vitoria_firstBlood:.2f}")

Número de partidas em que isFirstBlood é igual a 1: 242239
-----------------
Número de vitórias quando isFirstBlood é igual a 1: 120782
-----------------
Número de derrotas quando isFirstBlood é igual a 1: 121457
-----------------
Chance de vitória quando isFirstBlood é igual a 1: 0.50

## Calculando chance de vitoria através do killedElderDrake

In [35]:
# Filtrando as partidas em que Dragão Ancião foi Derrotado
partidas_elder_true = df_final[df_final['killedElderDrake'] == 1]

# Contando o número de vitórias e derrotas nas partidas em que Dragão Ancião foi Derrotado
vitorias_elder_true = partidas_elder_true[partidas_elder_true['hasWon'] == 1]
derrotas_elder_true = partidas_elder_true[partidas_elder_true['hasWon'] == 0]

# Calculando a chance de vitória quando Dragão Ancião foi Derrotado
chance_vitoria_elder_true = len(vitorias_elder_true) / len(partidas_elder_true)

# Exibindo Resultados
print("Número de partidas em que o Dragão Ancião foi Derrotado:", len(partidas_elder_true))
print('-----------------')
print("Número de vitórias quando o Dragão Ancião foi Derrotado:", len(vitorias_elder_true))
print('-----------------')
print("Número de derrotas quando o Dragão Ancião foi Derrotado:", len(derrotas_elder_true))
print('-----------------')
print(f"Chance de vitória quando o Dragão Ancião foi Derrotado: {chance_vitoria_elder_true:.2f}")

Número de partidas em que o Dragão Ancião foi Derrotado: 1212
-----------------
Número de vitórias quando o Dragão Ancião foi Derrotado: 856
-----------------
Número de derrotas quando o Dragão Ancião foi Derrotado: 356
-----------------
Chance de vitória quando o Dragão Ancião foi Derrotado: 0.71

## Calculando chance de vitoria através do killedBaronNashor

In [36]:
# Filtrar as partidas em que Barão Nashor foi Derrotado
partidas_baron_true = df_final[df_final['killedBaronNashor'] == 1]

# Contando o número de vitórias e derrotas nas partidas em que Barão Nashor foi Derrotado
vitorias_baron_true = partidas_baron_true[partidas_baron_true['hasWon'] == 1]
derrotas_baron_true = partidas_baron_true[partidas_baron_true['hasWon'] == 0]

# Calculando a chance de vitória quando o Barão Nashor foi Derrotado
chance_vitoria_baron_true = len(vitorias_baron_true) / len(partidas_baron_true)

# Exibindo resultados
print("Número de partidas em que killedBaronNashor é True:", len(partidas_baron_true))
print('-----------------')
print("Número de vitórias quando killedBaronNashor é True:", len(vitorias_baron_true))
print('-----------------')
print("Número de derrotas quando killedBaronNashor é True:", len(derrotas_baron_true))
print('-----------------')
print(f"Chance de vitória quando killedBaronNashor é True: {chance_vitoria_baron_true:.2f}")

Número de partidas em que killedBaronNashor é True: 27613
-----------------
Número de vitórias quando killedBaronNashor é True: 19786
-----------------
Número de derrotas quando killedBaronNashor é True: 7827
-----------------
Chance de vitória quando killedBaronNashor é True: 0.72